// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.formtastic.item {
  color: black;

  label {
    color: green;

    abbr {
      color: red;
    }
  }

  ol {
    list-style: none;

    li {
      float: left;
    }
  }
}

#banner-notice {
  color: red;
  display: inline-block;
  float: left;
  width: 100%;
  clear: both;
}
